<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cst438_meditationapp">

    <!--app uses camera-->
    <uses-feature android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddPostActivity"></activity>
        <activity android:name=".FeedActivity" />
        <activity android:name=".Home" />
        <activity android:name=".Meditation2Screens" />
        <activity android:name=".Relaxation2ScreenComplete" />
        <activity android:name=".Relaxation2Screen6" />
        <activity android:name=".Relaxation2Screen5" />
        <activity android:name=".Relaxation2Screen4" />
        <activity android:name=".Relaxation2Screen3" />
        <activity android:name=".Relaxation2Screen2" />
        <activity android:name=".Relaxation2Screen1" />
        <activity android:name=".Meditation2Start" />
        <activity android:name=".Onboarding" />
        <activity android:name=".RecyclerViewActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>